* {
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
}

body {
    background-image: url("./Asset/background.jpeg");
}

.card {
    position: relative;
    background: #f4b02f;
    margin-left: 690px;
    margin-top: 120px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    width: 40%;
    padding-bottom: 35px;
    border-radius: 12px;
}
#title{
    margin-left: 155px;
    padding-top: 32px;
    margin-bottom: 10px;
    font-weight: bold;
    font-size: 26px;
    color: #222222;
}
.form-login p{
    margin-top: 20px;
    margin-bottom: 10px;
    margin-left: 73px;
    color: #222222;
    font-weight: bold;
}
.card input{
    width: 66%;
    height: 41px;
    border-radius: 3px;
    background-color: #fff;
    border: 1px solid #dedede;
    padding: 12px 8px;
    margin-left: 72px;
}
.button-submit{
    position: relative;
    background-color: #222222;
    width: 40%;
    text-align: center;
    height: 33px;
    border-radius: 4px;
    margin-left: 157px;
    padding-top: 18px;
}
.button-submit a {
    text-decoration: none;
    color: #ffffff;
}